<div class="card" style="width: 18rem;">
    <img src="@img" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Nombre</h5>
        <em>Fecha de Creado: @FechaCreado.ToString("dd MMM yyyy")</em>
        <p class="card-text">@desc</p>
        <a href="#" class="btn btn-primary">Ver</a>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Nombre { get; set; }

    [Parameter]
    public DateTime FechaCreado { get; set; }

    [Parameter]
    public string img { get; set; }

    [Parameter]
    public string desc { get; set; }
}
